# DECA related
dataset_preprocessing/ffhq/deca/TestSamples
dataset_preprocessing/ffhq/deca/data

# Python related
**/__pycache__

# Output related
wandb
notebooks/outputs

notebooks/*.pt
notebooks/*.npy
notebooks/*.png
notebooks/*.gif

playground/deca
playground/outputs

output/slurm

**.mp4
**.avi
**.ipynb_checkpoints
**.obj
**.glb
**.npy
**.jpg
**.pkl
**.mtl

# data related
data/obama
data/obama.zip
data/ffhq


# Model related
pretrained_models

# Enivironment related
env
env2
**.pyc
.hydra

# IBEX related
launch.log
dcgm

# IDE related
.vscode